html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.snippet { 
    margin: 0px;
}

.card {
    min-height: 150px;
    margin-bottom: 30px;
}

.card a {
    text-decoration: none;
}