@page "/"
@inject IArticleService _articleService;
@model IndexModel
@{
    ViewData["Title"] = "SnippetizR";
    var _snippets = await _articleService.GetArticleList();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here are the current snippets</p>
</div>

<div id="code" class="container">
</div>

<div id="snippets" class="container">
    <div class="row">
        @foreach (var snippet in _snippets)
        {
            <div class="col-sm-5 col-md-4 col-lg-4 snippet" data-slug="@snippet.Slug">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@snippet.Title</h5>
                    </div>
                    <div class="card-footer small">
                        <i title="Copy to clipboard" data-slug="@snippet.Slug" class="copyBtn bi bi-clipboard2-plus btn btn-sm btn-primary"></i>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/index.js"></script>
}
