@page "/"
@inject IArticleService _articleService;
@model IndexModel
@{
    ViewData["Title"] = "SnippetizR";
    var _snippets = await _articleService.GetArticleList();
    _snippets = _snippets.OrderBy(x => x.Category).ThenBy(x => x.Title).ToList();
    var _categories = string.Empty;
}

<div id="code-container" class="container sticky-top">
    <div id="code" class="container">
    </div>
</div>

<div id="snippets" class="container">
    @foreach(var category in _snippets.Select(x => x.Category).Distinct().OrderBy(x => x))
    {
        <div class="row">
            <div class="col">
            </div>
        </div>
    }

    <div class="row">
        @foreach (var snippet in _snippets)
        {
            <div class="col-sm-5 col-md-4 col-lg-4 snippet" data-slug="@snippet.Slug">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@snippet.Title</h5>
                    </div>
                    <div class="card-header">
                        @Html.Raw(snippet.Html)
                    </div>
                    <div class="card-footer small">
                        <i title="Copy to clipboard" data-slug="@snippet.Slug" class="copyBtn bi bi-clipboard2-plus btn btn-sm btn-primary"></i>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/index.js"></script>
}
